<form action="index.php?view=api/user/login" method="post">
    <label for="login">Identifiant</label>
    <input type="text" id="login" name="login" required>
    <label for="password">Mot de passe</label>
    <input type="password" id="password" name="password" required>
    <input type="submit" value="Login">
</form>
<a href="index.php?view=view/user/signup">Créer un compte</a>